body {
    height: 100dvh;
    width: 100dvw;
    background-image: linear-gradient(to right, #fefefe75, #fefefe00),
      url("assets/img/city_birdseye_view.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0;
  }
  
  h1, h2, h3, h4 {
    margin: 0;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: white;
    background-color: #0e1e20;
  }
  
  nav #logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 20px;
    font-style: italic;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    font-size: large;
    font-weight: 700;
  }
  
  nav ul a {
    color: white;
    text-decoration: unset;
  }
  
  .input-container {
    position: relative;
    width: 400px;
    display: flex;
  }
  
  .input-field {
    width: 100%;
    padding: 10px 100px 10px 40px; /* Adjust padding to accommodate buttons */
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  .icon-btn,
  .search-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
  }
  
  #clear-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    right: 10px;
    color: white;
    background: #288423;
    padding: 5px 10px;
    border-radius: 10px;
  
  }
  
  .icon-btn {
    left: 10px;
  }
  
  .search-btn {
    right: 70px;
    color: white;
    background: #288423;
    padding: 5px 10px;
    border-radius: 10px;
  }
  
  .icon-btn i {
    font-size: 18px;
  }
  
  #home-container {
    height: 100%;
    padding: 0 0 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    margin: -70px;
  }
  
  #home-title {
    width: 500px;
    font-size: 70px;
    color: #121c30de;
    text-transform: uppercase;
  }
  
  #home-intro {
    width: 500px;
    font-size: 20px;
    color: #121c30de;
    text-transform: uppercase;
  }
  
  #book-btn {
    color: white;
    background: #288423;
    padding: 12px 10px;
    border-radius: 10px;
    width: 200px;
    font-size: 24px;
    font-weight: 700;
    border-width: 0;
    opacity: 0.8;
    text-transform: uppercase;
  }
  
  .social-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 350px;
    left: 10px;
  }
  
  .social-icons img {
    width: 40px;
    height: 40px;
  }
  
  #vertical-line-homepage {
    background-color: #121c30de;
    width: 2px;
    height: 210px;
    position: fixed;
    top: 100px;
    left: 30px;
  }
  
  .placeholder-div {
    height: 20px;
    width: 400px;
    opacity: 0;
  }
  
  .highlight-text {
    font-weight: 700;
  }
  
  #about-mission {
    margin: 0 50px 0 20px;
    padding: 20px;
    background-color: #cccccc87;
    font-size: 20px;
    letter-spacing: 0.5px;
    border-radius: 20px;
  }
  
  #contacts {
    width: calc(100% - 60px);
    box-sizing: border-box;    
    padding: 0 0 0 50px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); */
    overflow-x: scroll;
    scrollbar-width: none;
  }
  
  #contacts h1 {
    font-size: 60px;
    color: #1d3500d4;
    width: 420px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .team-member .role{
    background-color: #57a6eb;
    width: 100%;
    padding: 7px;
    border-radius: 20px;
    border: 1px solid #000;
    text-align: center;
  }
  
  .team-member{
    width: 20vw;
    background-color: #58585852;
    border-radius: 30px;
    padding: 30px 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;  
    height: 256px;
    color: #fbfbfb;
  }
  
  .team-member h2{
    margin: 0px;
  }
  
  .team-member img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
  
  .member-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .search-results {
    position: fixed;
    top: 124px;
    right: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 780px;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    gap: 20px;  
  }
  
  .recommendation-item {
    width: 500px;
  }
  
  .recommendation-btn {
    background: #067a15;
    border: unset;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    padding: 7px 17px;
  }
  
  .recommendation-item-details {
    background: #fff;
    border-radius: 0 0 20px 20px;
    width: 100%;
    padding: 12px;
  }
  
  .recommendation-item img{
    width: 500px;
    height: 320px;
  }
  
  .close-recommendations {
    width: 100%;
    padding: 12px;
    margin: 0;
    border: 0px;
    border-radius: 20px;
    background: #00743b;
    position: fixed;
    top: 76px;
    right: 25px;
    width: 500px;  
  }

  #contact-form-title {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
  }

  #contact-form-title p{
    color: #1d3500d4;
    font-size: 24px;
    margin: 0;    
  }

  #contactForm {
    padding: 20px 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;    
    background: #00000080;
    border-radius: 20px;
    margin: 0 20px 0 0;    
  }

  #contactForm div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  #contactForm label {
    color: #fff;
    font-size: 18px;    
  }

  #contactForm button {
    background: #42c442c4;
    font-size: 18px;
    padding: 5px;
    border-radius: 20px;
  }